/* Custom styles for the skills carousel */
#skills-carousel {
    padding-top: 10px; /* Adjust the padding to reduce the gap */
    background-color: #ecf0f1; /* Light gray background for the carousel */
}

.slick-prev, .slick-next {
    font-size: 10px; /* Adjust the font size for button circles */
    color: #fff; /* Arrow color */
    background-color: #3498db; /* Button background color */
    border: none; /* Remove button border */
    border-radius: 50%; /* Circular border */
    width: 50px; /* Adjust the width of button circles */
    height: 40px; /* Adjust the height of button circles */
    line-height: 40px; /* Center vertically */
    z-index: 1; /* Set z-index to ensure the buttons are above the carousel */
}

.slick-prev {
    left: -50px; /* Adjust left position */
}

.slick-next {
    right: -50px; /* Adjust right position */
}

.slick-prev:hover, .slick-next:hover {
    background-color: #2c3e50; /* Change background color on hover */
}

.skill-slide {
    margin: 0 10px; /* Adjust spacing between items */
}

/* About Me Section Background */
#about {
    background-color: #3498db; /* Blue background for the About Me section */
    color: #fff; /* White text color for contrast */
    padding: 20px;
}

/* Additional styling for images next to paragraphs */
.about-image img {
    max-width: 100%;
    height: auto;
}

/* Styling for paragraphs and images in the about section */
.about-content {
    display: flex;
    margin-bottom: 20px;
}

.about-text {
    flex: 1;
}

.about-image {
    flex: 1;
}

.about-image img {
    max-width: 100%;
    height: auto;
    float: left;
}

.about-image-right img {
    float: right;
}
